.container {
  background-color: #ffffff;
}
.navbar,
.menu,
.bayan_screen {
  background-color: #fdf3e9;
}
.menu {
  padding: 10px;
  border-radius: 25px;
  border: 2px solid grey;
  font-size: 25px;
}
.stack {
  margin-top: 100px;
  text-align: center;
}
.list-group {
  max-height: 500px;
  margin-bottom: 10px;
  overflow: scroll;
}
.logo {
  width: 50px;
  height: 50px;
}
