.container {
  background-color:#fff3e6;
  height: auto;
}
.menu,
.bayan_screen {
  background-color:#fff3e6;
}

.navbar{
  border-bottom: 1px solid black;
  background-color: #f9e0a8;
  margin-bottom: 10px;
}

.stack{
  margin-top: 150px;
  margin-bottom: 150px;
}
.menu {
  padding: 10px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
}
.list-group {
  max-height: 550px;
  margin-bottom: 10px;
  overflow: scroll;
}
.logo {
  width: 50px;
  height: 50px;
}
.heading {
  text-align: center;
}

.bookmark_logo{
 width: 25px;
 height: 25px;
  display: inline;
  float: left;;
}
.bookmark_title{
  float: left;
  margin-left: 5px;
}

.chain_logo{
  width: 40px;
  height: 40px;
  float: right;

}

.bookmark_icons{
  float: right;
}

.icons{
  margin-left: 20px;
}